<ng-container *ngIf="story$ | async as story else loadingStory">
  <section class="story-wrapper">
    <mat-card>
      <section class="story-info">
        <header>
          <h3 class="title">{{ story?.title }}</h3>
        </header>
        <main>
          <span class="score">{{ story?.score }} points by</span>
          <a [routerLink]="['/user', story?.by ]" class="user">{{ story?.by }}</a>
          <span class="time-since" [matTooltip]="story?.time | date: 'medium'">{{ story?.time | timeSince }}</span>
        </main>
      </section>
      <mat-card-content>
        <p class="story-content" [innerHTML]="story.text"></p>
      </mat-card-content>
    </mat-card>
  </section>

  <section class="comments-wrapper">
    <mat-card>
      <mat-card-header>
        <h3>Comments</h3>
      </mat-card-header>
      <mat-card-content [ngClass]="{ 'loading-comments': !(comments$ | async) }">
        <main *ngIf="comments$ | async as comments else commentsLoading">
          <ng-container *ngFor="let comment of comments; let i = index">
            <comment *ngIf="comment.by" [comment]="comment" [root]="true" [odd]="i % 2 === 0"></comment>
          </ng-container>
        </main>
        <ng-template #commentsLoading>
          <div class="loading">
            <mat-spinner></mat-spinner>
            <div>Loading Comments...</div>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </section>
</ng-container>
<ng-template #loadingStory>
  <mat-spinner></mat-spinner>
  <div>Loading Story...</div>
</ng-template>
