story {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 10%;
  align-items: center;

  section.story-wrapper, section.comments-wrapper {
    display: flex;
    width: 100%;
    padding: 1rem 0;
  }

  .mat-card .story-content {
    padding: 1rem 1rem 0;

    p {
      margin: .5rem 0;
    }
  }

  section.comments-wrapper {
    padding-top: 0;
    overflow: hidden;

    .mat-card {
      padding-right: 0;
      padding-left: 0;
      display: flex;
      flex-direction: column;
    }

    .mat-card-header {
      padding: 0 2rem;

      .mat-card-header-text {
        margin: 0;
      }
    }

    .mat-card-content {
      padding: 0 1.5rem 0 .75rem;
      overflow: auto;

      .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
