<ng-container *ngIf="story$ | async as story else loadingStory">
  <section class="story-wrapper">
    <mat-card>
      <section class="story-info">
        <header>
          <h3 class="title">{{ story?.title }}</h3>
        </header>
        <main>
          <span class="score">{{ story?.score }} points by</span>
          <a [routerLink]="['/user', story?.by ]" class="user">{{ story?.by }}</a>
          <span class="time-since" [matTooltip]="story?.time | date: 'medium'">{{ story?.time | timeSince }}</span>
        </main>
      </section>
      <mat-card-content>
        <p class="story-content" [innerHTML]="story.text"></p>
      </mat-card-content>
    </mat-card>
  </section>
</ng-container>
<ng-template #loadingStory>
  <mat-spinner></mat-spinner>
  <div>Loading Story...</div>
</ng-template>
