# use alpine to reduce space
image: buildkite/puppeteer

stages:
    - npm
    - test

cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
        - .npm/

npm:
    stage: npm
    script:
        - npm ci --cache .npm --prefer-offline
    cache:
        paths:
            - .npm/

test:
    stage: test
    dependencies:
        - npm
    script:
        - npm test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
