
#image: buildkite/puppeteer

stages:
    - build-image
#    - test

#cache:
#    key: ${CI_COMMIT_REF_SLUG}
#    paths:
#        - .npm/

build-image:
    stage: build-image
    image:
        name: gcr.io/kaniko-project/executor:debug
        entrypoint: [""]
    script:
        - mkdir -p /kaniko/.docker
        - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
        - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/docker/ci-test/Dockerfile --destination $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
#    cache:
#        paths:
#            - .npm/

#test:
#    stage: test
#    dependencies:
#        - npm
#    script:
#        - npm test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
