<header>
  <a class="user-link" [routerLink]="['/user', comment.by]">{{ comment.by }}</a>
  <span class="date" [matTooltip]="comment.time | date: 'medium'">{{ comment.time | timeSince }}</span>
  <div class="comment-toggle" (click)="toggleShowComments($event)" (touchend)="$event.stopPropagation()">
    [{{ comment.open ? '-' : commentsHiddenText }}]
  </div>
</header>
<ng-container *ngIf="comment.open">
  <div [ngStyle]="{'margin-bottom': comment.kids ? '.75em' : '0' }" class="comment-text" [innerHTML]="comment.text"></div>
  <ng-container *ngIf="comment.subComments$ | async as subComments else loadingSubComments">
    <ng-container *ngFor="let subComment of subComments; let i = index">
      <comment *ngIf="subComment.by" [comment]="subComment" [odd]="i % 2 === 0" d></comment>
    </ng-container>
  </ng-container>
  <ng-template #loadingSubComments>
    <loading-spinner>Loading comments...</loading-spinner>
  </ng-template>
</ng-container>
