<section class="user-wrapper">
  <mat-card *ngIf="user$ | async as user else loadingUser">
    <header>
      <h2>{{ user.id }}</h2>
    </header>
    <main>
      <span>created:</span>
      <span><span [matTooltip]="user.created | timeSince">{{ (user.created) | date: 'MMM dd, yyyy' }}</span></span>

      <span>karma:</span>
      <span>{{ user.karma | number }}</span>

      <ng-container *ngIf="user.about">
        <span>about:</span>
        <div class="about">
          <div [innerHTML]="user.about"></div>
          <a [routerLink]="[ 'submissions' ]">Submissions</a>
        </div>
      </ng-container>
    </main>
  </mat-card>
</section>

<router-outlet></router-outlet>

<ng-template #loadingUser>
  <mat-spinner></mat-spinner>
  <div>Loading News...</div>
</ng-template>


