:host {
  height: 100%;
  overflow: hidden;
  background: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
}

@media screen and (max-device-width:800px), screen and (max-width:800px) {
  :host {
    flex-direction: column-reverse;
  }
}
