:host {
  display: flex;
  padding: .7em;
  width: 100%;
  cursor: pointer;

  .story-link {
    display: flex;
    text-decoration: none;
    width: 100%;
  }
}

.mat-card {
  display: flex;
  justify-content: space-between;
}

.number {
  flex-basis: 50px;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media screen and (max-device-width:800px), screen and (max-width:800px) {
  .number {
    flex-basis: 25px;
  }
}

.comments {
  align-self: center;
}
